
.input-container{
    width: 100%;
}


.input-field{
    padding: 10px;
    font-weight: 500;
    font-size: 17px;
    background-color: #F8F8F8;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    outline: none;
    width: 100%;
    &:focus{
        background-color:#FFFFFF ;
        border-color:1px solid #0057FF;
    }
    &:focus-visible{
        background-color:#FFFFFF ;
        border:1px solid #0057FF;
    }
}
