@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

@import "variables";
@import "ListItem";
@import "Input";
@import "SelectOptions";
@import "sells";
@import "table";
@import "SellCurrencyFastEntry";
@import "TransactionCurrencies";
@import "SplitedTable";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display: none!important;
}
body{
    font-family: 'Inder', sans-serif;
   
}
body[lang="ar"] {
    font-family: 'Rubik', sans-serif;
}
body[data-theme="dark"]{
    color: $light;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
hr{
    border: 1px solid #D9D9D9;
}
textarea {
    resize: vertical;
  }
.layout{
    display: flex;
    align-items: stretch;
    // sidebar
    .sidebar{
        overflow-y: scroll;
        position: relative;
        .sidebar-header{
            display: flex;
            align-items: center;
            position: relative;
            background-color: #EDEDED;
            height: 50px;
            .sidebar-header-text{
                width: 100%;
                text-align: center;
            }
            svg{
                font-size: 25px;
            }
        }
        .sidebar-toggle-icon{
            position: absolute;
            left: 10px;
        }
        .sidebar-footer{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .hero{
        flex: 1;
        .hero-header{
            height: 50px;
            background-color: #EDEDED;
            display: flex;
            justify-content: space-between;
            padding: 5px;
            .search-input{
                border: 1px solid #E2E2E2;
                background-color: white;
                display: flex;
                align-items: center;
                padding: 0px 15px;
                border-radius: 100px;
                width: 500px;
                input{
                    border: none;
                    outline: none;
                    padding: 5px;
                    font-size: 17px;
                    flex: 1;
                }
            }
            .user-info{
                display: flex;
                align-items: center;
                gap: 15px;
                
                .notification{
                    position: relative;
                    padding: 5px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    background-color: white;
                    &::after{
                        content: "";
                        position: absolute;
                        height: 5px;
                        width: 5px;
                        background-color: red;
                        border-radius: 50%;
                        top: 6px;
                        right: 6px;
                        z-index: 10000;

                    }
                    svg{
                        color: $blue;
                        font-size: 20px;
                    }
                }
                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .user-img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
        }
        .main{
            padding: 10px;
            margin: 10px;
            .main-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                
                h2{
                    font-weight: 400;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        border-radius: 10px;
                        width: 3px;
                        top: 5px;
                        bottom: 5px;
                        left: -7px;
                        background-color: $blue;
                    }
                }
            }
            .main-container{
                border-radius: 5px;
                border: 1px solid #D9D9D9;
                width: 100%;
                background-color: #F4F4F4;
                padding:10px;
            }
        }
    }
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: $blue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &.secondary{
        color: $blue;
        background-color: white;
        border: 1px solid $blue;
    }
}
.p{
    padding: 1rem;
}
.mt{
    margin-top: 10px;
}
.main-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input-label{
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
}
.doc-title{
    font-size: 12px;
    font-weight: 400;
    color: #A0A0A0;
    padding-bottom: 5px;
}
.btlr{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


