@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import "variables";
@import "ListItem";
@import "Input";
@import "SelectOptions";
// @tailwind base;
// @tailwind components;
// @tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display: none!important;
}
body{
    font-family: 'Poppins', sans-serif;
}
body[lang="ar"] {
    font-family: 'Rubik', sans-serif;
}
body[data-theme="dark"]{
    color: $light;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.layout{
    display: flex;
    align-items: stretch;
    // sidebar
    .sidebar{
        overflow-y: scroll;
        position: relative;
        .sidebar-header{
            display: flex;
            align-items: center;
            position: relative;
            background-color: #EDEDED;
            height: 50px;
            .sidebar-header-text{
                width: 100%;
                text-align: center;
            }
            svg{
                font-size: 25px;
            }
        }
        .sidebar-toggle-icon{
            position: absolute;
            left: 10px;
        }
        .sidebar-footer{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .hero{
        flex: 1;
        .hero-header{
            height: 50px;
            background-color: #EDEDED;
            display: flex;
            justify-content: space-between;
            padding: 5px;
            .search-input{
                border: 1px solid #E2E2E2;
                background-color: white;
                display: flex;
                align-items: center;
                padding: 0px 15px;
                border-radius: 100px;
                input{
                    border: none;
                    outline: none;
                    padding: 5px;
                    font-size: 17px;
                    flex: 1;
                }
            }
            .user-info{
                display: flex;
                align-items: center;
                gap: 15px;
                .notification{
                    position: relative;
                    padding: 5px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    background-color: white;
                    &::after{
                        content: "";
                        position: absolute;
                        height: 5px;
                        width: 5px;
                        background-color: red;
                        border-radius: 50%;
                        top: 6px;
                        right: 6px;
                        z-index: 10000;

                    }
                    svg{
                        color: $blue;
                        font-size: 20px;
                    }
                }
                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .user-img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
        }
        .main{
            padding: 10px;
            margin: 50px;
        }
    }
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


