/* SelectOption.scss */
.custom-select {
    position: relative;
    width: 100%;
    flex: 1;
    cursor: pointer;
    .selected-option {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 17px;
      // background-color: #F8F8F8;
      border: 1px solid #D9D9D9;
      border-radius: 5px;
      outline: none;
      width: 100%;
      justify-content: space-between;
      input{
        width: 100%;
        background-color: transparent;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        outline: none;
        border: none;
      }
      svg{
        font-size: 20px;
      }
    }
    
    .options {
      position: absolute;
      box-shadow: 0px 0px 20px #0000004d;
      z-index: 1000;
      top: 100%;
      left: 0;
      width: 100%;
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0 0 5px 5px;
      max-height: 300px;
      overflow-y: auto;
      background-color: #fff;
      display: none;
      list-style: none;
      padding: 0;
  
      &.open {
        display: block;
      }
      
      li {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        svg{
            font-size: 20px;
        }
        &.active{
            background: $blue;
            ;
            ;
            
            color: $light;
        }
        &:hover:not(.active) {
          background-color: #f0f0f0;
        }
      }
    }
    &.open{
        .options{
            display: block;
        }
    }
  }
  