.sells-main-container{
    width: 100%;
    background-color: white;
    padding: 40px 100px;
    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.divided-section{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}



































